<div mat-dialog-title class="text-center">
  {{false ? 'Atualizando #123' : 'Nova Atividade'}}
</div>

<div mat-dialog-content>

  <mat-form-field appearance="outline" fxFill>
    <mat-label>Nome</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="outline" fxFill>
    <mat-label>Tempo para realização</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="início">
      <input matEndDate placeholder="término">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-stroked-button color="error">Deletar</button>
  <span fxFlex></span>
  <button mat-flat-button color="primary">Salvar</button>
</div>
