@import "assets/css/theme";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-list-item {
  color: black !important;
}

.mat-divider {
  border-top-color: rgba(110, 105, 105, 0.12);
}

.text {
  &-center {
    text-align: center;
  }
}

$sizes: 20;
@for $i from 1 through $sizes {
  .p-l-#{$i} {
    padding-left: #{$i}em;
  }
  .p-r-#{$i} {
    padding-right: #{$i}em;
  }
  .p-t-#{$i} {
    padding-top: #{$i}em;
  }
  .p-b-#{$i} {
    padding-bottom: #{$i}em;
  }
  .p-#{$i} {
    padding: #{$i}em;
  }
}
