<app-fab (onFabClick)="openAddDialog()"></app-fab>
<div class="p-l-4 p-r-4 p-t-4 p-b-3">

  <mat-form-field appearance="outline" fxFill>
    <mat-label>Buscar projeto</mat-label>
    <input [(ngModel)]="search" (ngModelChange)="onSearch($event)" matInput placeholder="Placeholder">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>
<div class="p-1">
  <mat-list>
    <ng-container *ngFor="let p of projects">
      <mat-list-item [routerLink]="['/projects', p.id]">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between">

          <span>{{p.name}}</span>
          <span fxFlex></span>
          <span>{{p.progress}}% Concluído</span>
          <span *ngIf="p?.delayed" fxFlex></span>
          <mat-chip-list *ngIf="p?.delayed">
            <mat-chip color="warn" selected> Projeto irá atrasar</mat-chip>
          </mat-chip-list>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>
</div>
