<app-fab (onFabClick)="openAddDialog()"></app-fab>
<div class="p-l-4 p-r-4 p-t-4 p-b-3">

  <mat-form-field appearance="outline" fxFill>
    <mat-label>Buscar projeto</mat-label>
    <input [(ngModel)]="search" (ngModelChange)="onSearch($event)" matInput placeholder="Placeholder">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>
<div class="p-1">
  <mat-list>
    <ng-container *ngFor="let p of projects">
      <mat-list-item [routerLink]="['/projects', p.id]">
        {{p.name}} - {{p.progress}}% Concluído
        <span *ngIf="p?.delayed" class="mat-warn">
          Projeto irá atrasar
        </span>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>
</div>
